@import './../../utils/variables.scss';

.reviewsContainer {
    margin-bottom: 20vh;

    .reviewsContainerTitle {
        font-size: 1.75rem;
        font-family: 'Bold';
        margin-top: 0;

    }

    .reviews {
        height: 600px;
        overflow: auto;
        border-bottom: 1px solid #EAEAEA;
    }

    .hideReviews {
        height: 275px;
        overflow: hidden;
    }

    .loadMore {
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #FDD643;
        text-decoration-thickness: 3px;
        font-size: 14px;
        font-family: 'Medium';
        margin-top: 2rem;
        cursor: pointer;
    }
}

@media screen and 
(min-width: $breakpoint-phone) and 
(max-width: $breakpoint-tablet) {
    .reviewsContainer {
        margin-bottom: initial;

        .hideReviews {
            height: 400px;
        }
    }
}
