@import './../../utils/variables.scss';

.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0 2%;

    .headerNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2rem;
    }
}


@media screen and 
(min-width: $breakpoint-phone) and 
(max-width: $breakpoint-tablet) {
    .pageHeader {
        justify-content: space-between;
        border-bottom: 1px solid #EAEAEA;

        .headerNav {
            margin-right: 0;
        }
    }
}
