.userIconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 16px;
        cursor: pointer;
        color: #9D9D9D;
    }

    svg:last-child {
        margin-right: 0;
    }

    .cart {
        position: relative;

        #cartBadge {
            background-color: #FEEAA1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            position: absolute;
            top: -6px;
            right: 3px;
        }
    }
}
