@import './../../utils/variables.scss';

.newsletterContainer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #adadad;

    p {
        font-size: 1.75rem;
        font-family: 'Medium';
        border-bottom: 1px solid #adadad;
    }
}

@media screen and 
(min-width: $breakpoint-phone) and 
(max-width: $breakpoint-tablet) {
    .newsletterContainer {
        display: none;
    }
}
