@import './utils/variables.scss';

@mixin font($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('./assets/fonts/Roboto-' + $font-name + '.ttf')
            format('truetype')
    }
}

@include font('Bold');
@include font('Medium');
@include font('Regular');
@include font('Thin');
@include font('Light');
@include font('MediumItalic');

html {
    height: 100%;
    font-size: 16px;

    * {
        font-family: 'Light';
        box-sizing: border-box;
    }

    body {
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: #F0F0F0;
        margin-left: 5%;
    }

    a,
    a:hover,
    a:active {
        text-decoration: none;
    }
}

@media screen and 
(min-width: $breakpoint-phone) and 
(max-width: $breakpoint-tablet) {
    body {
        margin-left: 0 !important;
    }
}
