@import './../../utils/variables.scss';

.socialMediaIconsContainer {
    svg {
        margin-right: 1rem;
        cursor: pointer;
    }

    svg:last-child {
        margin: 0;
    }
}

@media screen and 
(min-width: $breakpoint-phone) and 
(max-width: $breakpoint-tablet) {
    .socialMediaIconsContainer {
        display: none;
    }
}
